

body, html {
  height: 100%;
}

.active{
  color: rgb(0, 94, 255);

}

.parallax {
  /* The image used */
  background-image: url("public.jpg");
  background-color: rgba(0,0,0,0.6);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}


